li {
  list-style-type: none;
  width: 220px;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #b5b7c4;
  margin: 5px;
}
.item-date {
  font-size: 10px;
}
.item-heading {
  font-size: 15px;
}
.item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.star-log {
  width: 20px;
}
.star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
